body {
    header {
        nav {
            background-color: $blue;
        }
    }
}

@media screen and (min-width: 992px) {
    body {
        header {
            nav {
                div {
                    div {
                        ul {
                            position: absolute;
                            width: auto;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                            
                            li {
                                a{
                                    color: $white !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}