.offices {
    @include nav_padding (85px);

    .btn {
        @include btn_color ('blue');
    }

    h1 {
        @include font-weight ('bold');
        font-size: 3.5rem;
        color: $blue;
        -webkit-text-stroke: 1.5px $white;
        text-shadow: 2px 2px 1px $white;
        text-align: center;
    }

    p {
        @include font-weight ('light');
        color: $white;
        text-align: center;
    }

    .consul {
        @include size (auto, 100%);
        display: flex;
        justify-content: space-evenly;
        padding: 20px;

        .card {
            @include size (auto, 65vh);
            background-color: $white;

            p {
                color: $blue;
            }

            .btn {
                @include btn_color ('blue');
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .offices {
        h1 {
            font-size: 2.7rem;
            -webkit-text-stroke: 0.5px $white;
        }

        p {
            padding-left: 40px;
            padding-right: 40px;
        }
   
        .consul {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            gap: 40px;

            .card {
                @include size (auto, 50vh);
            }
        }
    }
}
