.service {
    @include nav_padding (85px);

    h1 {
        @include font-weight ('bold');
        font-size: 3.5rem;
        color: $blue;
        -webkit-text-stroke: 1.5px $white;
        text-shadow: 2px 2px 1px $white;
        text-align: center;
    }

    p {
        @include font-weight ('light');
        color: $white;
        margin-left: 50px;
        margin-right: 50px;
        text-align: justify;
    }
    
    .accordion {
        margin: 20px;

        .accordion-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 20px
        }
    }

    .card {
        @include size (14rem, 16rem);
        background-color: white;
        color: $blue;
        transition: all 0.3s;
        
        img {
            width: 100px;
        }

        p {
            color: $blue;
        }

        &:hover {
            transform: scale(1.05, 1.05);
        }
    }
}

@media screen and (max-width: 992px) {
    .service {
    
        h1 {
            font-size: 2.7rem;
            -webkit-text-stroke: 0.5px $white;
        }

        .accordion {
            padding-bottom: 20px;
        }
    }
}